<!-- RECUADRO INFERIOR IZQUIERDO -->
<a routerLink="/chatAsistente"
   class="fixed left-6 bottom-6 bg-[#1c1f26] border border-emp-celeste hover:bg-emp-celeste transition-all shadow-2xl rounded-2xl p-5 w-64 cursor-pointer">

  <div class="flex items-center gap-4">
    
    <img src="https://cdn.dribbble.com/userupload/5101941/file/original-4334ef4714c31cef620bddb1098324a6.png?resize=400x0"
         alt="Asistente IA"
         class="w-12 h-12 rounded-xl object-cover">

    <div>
      <h4 class="font-bold text-white hover:text-blue-400 transition-colors">Abrir Asistente IA</h4>
      <p class="text-sm text-gray-400 hover:text-white transition-colors">Haz clic para comenzar</p>
    </div>

  </div>
</a>
